@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300';

$black: #444;
$white: #fff;
$lavender-pink: #ffa5db;
$electric-blue: #7FFF00;
$bleu: #6495ED;

$primary-color: #f9ed7c;
$primary-color-dark: darken( $primary-color, 10% );
$primary-color-tint: lighten( $primary-color, 15% );
$secondary-color: #9c5200;
$accent-color: #e65a41;

$primary-font: "Roboto Condensed", sans-serif;

@mixin animateRotate($name, $end, $start: 0, $dur: 6s) {
  animation-name: $name;
  animation-duration: $dur;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  @keyframes #{$name} {
    0%, 100% { transform: rotate(#{$start}deg) }
    50% { transform: rotate(#{$end}deg) }
  }
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color-tint;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
}

.pika {
  position: relative;
  animation-name: floaty;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  &-head {
    position: relative;
    z-index: 10;
    height: 9rem;
    width: 9.5rem;

    &-face {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $primary-color;
      overflow: hidden;
      will-change: transform, opacity;

      border: {
        top: {
          left-radius: 50% 4.5rem;
          right-radius: 50% 4.5rem;
        }
        bottom: {
          left-radius: 50% 3rem;
          right-radius: 50% 3rem;
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        bottom: 1.125rem;
        height: 1.5rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: $accent-color;
      }

      &::before {
        left: -0.25rem;
      }

      &::after {
        right: -0.25rem;
      }
    }
  }

  &-eye {
    position: absolute;
    background-color: $black;
    bottom: 2.5rem;
    height: 1.25rem;
    width: 1.25rem;
    overflow: hidden;
    transform-origin: center 70%;
    animation-name: blinky;
    animation-duration: 7s;
    animation-iteration-count: infinite;

    border: {
      top: {
        left-radius: 50%;
        right-radius: 50%;
      }
      bottom: {
        left-radius: 45% 50%;
        right-radius: 45% 50%;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 15%;
      left: 15%;
      height: 30%;
      width: 30%;
      background-color: $white;
      border-radius: 50%;
    }

    &-left {
      left: 1.5rem;
    }

    &-right {
      right: 1.5rem;
    }
  }

  &-nose {
    position: absolute;
    bottom: 2.5rem;
    left: calc(50% - 0.125rem);
    height: 0.125rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: $black;
  }

  &-ear {
    position: absolute;
    top: -1rem;
    height: 3.75rem;
    width: 2rem;
    background-color: $primary-color;
    transform-origin: bottom center;
    overflow: hidden;

    border: {
      top: {
        left-radius: 50% 3rem;
        right-radius: 50% 3rem;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 110%;
      height: 45%;
      background-color: $black;
    }

    &-left {
      left: 0;
      transform: rotate(-40deg);
      @include animateRotate(rotateEarLeft, -35, -40);

      &::before {
        transform-origin: bottom left;
        transform: rotate(-15deg)
      }
    }

    &-right {
      right: 0;
      transform: rotate(40deg);
      @include animateRotate(rotateEarRight, 35, 40);

      &::before {
        transform-origin: bottom right;
        transform: rotate(15deg)
      }
    }
  }

  &-body {
    position: absolute;
    z-index: 9;
    right: -2rem;
    top: 35%;
    height: 8rem;
    width: 9rem;

    .string {
      position: absolute;
      z-index: 6 !important;
      bottom: 30%;
      z-index: 9;
      height: 1rem;
      width: 9rem;
      border-right: solid 1px $white;
      border-left: solid 1px $white;
      border-bottom: solid 1px $white;
      transform: rotate(-15deg);

      border: {
        bottom: {
          left-radius: 50% 1rem;
          right-radius: 50% 1rem;
        }
      }

      &:nth-child(2) {
        transform: rotate(-20deg);
      }
    }

    &-body {
      position: absolute;
      z-index: 5;
      height: 100%;
      width: 100%;
      background-color: $primary-color;
      transform: skew(15deg);
      overflow: hidden;

      border: {
        top: {
          left-radius: 50% 5.5rem;
          right-radius: 50% 5.5rem;
        }
        bottom: {
          left-radius: 40% 2.5rem;
          right-radius: 40% 2.5rem;
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 2rem;
        height: 0.75rem;
        background-color: $secondary-color;
        transform: skew(-15deg);
        transform-origin: right center;
        transform: rotate(-30deg);

        border: {
          top: {
            left-radius: 2rem 50%;
          }
          bottom: {
            left-radius: 2rem 50%;
          }
        }
      }

      &::before {
        right: -0.5rem;
        top: 2rem;
      }

      &::after {
        right: -1rem;
        top: 3rem;
      }
    }
  }

  &-arm {
    position: absolute;
    z-index: 9;
    height: 1.5rem;
    width: 1.25rem;
    background-color: $primary-color-dark;
    transform-origin: top center;

    border: {
      top: {
        left-radius: 0.25rem;
        right-radius: 0.25rem;
      }
      bottom: {
        left-radius: 3rem 5.5rem;
        right-radius: 3rem 5.5rem;
      }
    }

    &-left {
      top: 60%;
      left: -0.5rem;
      @include animateRotate(rotateLeft, 25);
    }

    &-right {
      top: 60%;
      left: 4.75rem;
      @include animateRotate(rotateRight, -25);
    }
  }

  &-leg {
    position: absolute;
    z-index: 1;
    height: 1.75rem;
    width: 1.25rem;
    background-color: $primary-color-dark;
    transform-origin: top center;

    border: {
      top: {
        left-radius: 0.25rem;
        right-radius: 0.25rem;
      }
      bottom: {
        left-radius: 3rem 5.5rem;
        right-radius: 3rem 5.5rem;
      }
    }

    &-left {
      top: calc(100% - 0.75rem);
      left: 3rem;
      @include animateRotate(rotateLeft, 25, 0, 2s);
    }

    &-right {
      top: calc(100% - 0.75rem);
      left: 7.5rem;
      @include animateRotate(rotateRight, -25, 0, 2s);
    }
  }

  &-tail {
    position: absolute;
    left: calc(100% - 0.75rem);
    top: 40%;
    height: 1.5rem;
    width: 1rem;
    background-color: $secondary-color;
    transform-origin: bottom center;
    transform: rotate(45deg);
    @include animateRotate(rotateTail, 45, 55);

    &::before,
    &::after {
      content: '';
      position: absolute;
      transform-origin: bottom center;
      background-color: $primary-color;
    }

    &::before {
      top: -2.5rem;
      left: 0.25rem;
      height: 2rem;
      width: 1.5rem;
      transform: rotate(-90deg);
      border: {
        bottom: {
          right-radius: 0.5rem;
        }
      }
    }

    &::after {
      top: -2.75rem;
      left: -2.5rem;
      height: 3rem;
      width: 2rem;

      border: {
        bottom: {
          left-radius: 0.5rem;
        }
        top: {
          right-radius: 0.5rem;
          left-radius: 0.5rem;
        }
      }
    }
  }
}

.balloons {
  position: absolute;
  left: 0;
  top: -10rem;
}

.balloon {
  position: absolute;
  height: 6.25rem;
  width: 6rem;
  border-radius: 50%;
  background-color: currentColor;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    top: 20%;
    left: 10%;
    width: 15%;
    height: 20%;
    border-radius: 50%;
    background-color: $white;
  }

  &::after {
    bottom: -0.5rem;
    left: calc(50% - 0.75rem);
    height: 0.75rem;
    width: 1.5rem;
    background-color: currentColor;

    border: {
      top: {
        left-radius: 3rem;
        right-radius: 3rem;
      }
      bottom: {
        left-radius: 1rem;
        right-radius: 1rem;
      }
    }
  }

  &:nth-child(1) {
    z-index: 4;

    .string {
      transform: rotate(-10deg);
    }
  }

  &:nth-child(2) {
    z-index: 5;
    top: 2rem;
    left: 4rem;

    .string {
      transform: rotate(10deg);
    }
  }

  &:nth-child(3) {
    top: 3rem;
    left: -2rem;

    .string {
      transform: rotate(-25deg);
    }
  }

  &:nth-child(4) {
    top: 0.5rem;
    left: 7rem;

    .string {
      transform: rotate(20deg);
    }
  }

  .string {
    position: absolute;
    top: 100%;
    left: 50%;
    height: 6rem;
    border-left: solid 1px $white;
    transform-origin: top center;
  }

  &.pink { color: $lavender-pink; }
  &.cyan { color: $electric-blue; }
  &.blue { color: $bleu; }
  &.red  { color: $accent-color; }
}

@keyframes floaty {
  0%, 100% { transform: translateY(0) }
  50% { transform: translateY(1rem) }
}

@keyframes blinky {
  0%, 9%, 11%, 19%, 21%, 69%, 71%, 100% {
    transform: scaleY(1)
  }
  10%, 20%, 70% {
    transform: scaleY(0.1)
  }
}

.balloon.released {
  animation: releaseBalloon 4s ease-in forwards;
}

@keyframes releaseBalloon {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-15rem) scale(0.8);
    opacity: 0;
  }
}

/* Confetti */
#confetti-behind {
  position: absolute;
  top: 0;
  left: 0;
  width: 12rem;
  height: 12rem;
  overflow: visible;
  pointer-events: none;
  z-index: 2;
}

.confetti {
  position: absolute;
  width: 8px;
  height: 10px;
  opacity: 0;
  animation: popConfetti 1.2s ease-out forwards;
  border-radius: 2px;
}

@keyframes popConfetti {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(0.9) rotate(360deg);
    opacity: 0;
  }
}

/* Happy Birthday Message */
#birthday-text {
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 2.5rem;
  color: #ffcb05;
  -webkit-text-stroke: 2px #2a75bb;
  text-shadow: 2px 2px 0 #000;
  opacity: 0;
  pointer-events: none;
  z-index: 20;
  letter-spacing: 0.3rem;
}

#birthday-text.show {
  opacity: 1;
  animation: birthdayBounce 3s ease-out forwards;
}

@keyframes birthdayBounce {
  0% {
    transform: translateX(-50%) translateY(2rem) scale(0.8);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    transform: translateX(-50%) translateY(-4rem) scale(1);
  }
  100% {
    transform: translateX(-50%) translateY(-6rem) scale(1.1);
    opacity: 0;
  }
}

/*Happy Birthday Message*/

#birthday-text {
  white-space: nowrap;
}
